/floodenv

*.tif
*.h5
*.hdf5

*.log

.vscode/

__pycache__/
*.pyc

.ipynb_checkpoints/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.pb
saved_model/
tensorboard/

*.tmp
*.temp